*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.main--aboutUs{
    height: 100vh;
    background-image: linear-gradient(to top right,#0A1365,#9f2121);
}
.main--aboutUs .header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.header h1{
    font-size: 3rem;
    color: white;
}