*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.sec1, .sec2, .sec3, .sec4, .sec5{
    min-height: 100vh;
    
}
.sec1{
    background-image: url("/Images/backgroundspace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    z-index: 2;
}
.sec2{
    background-color: rgb(0, 0, 0);
}
.sec3{
    background-color: #000000;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.sec4{  
    background-color: #CCDBDC;
}
.sec5{
    background-color: rgba(0, 126, 167, 0.6);
}
.sec6{
    background-color: #003249;
    min-height: 40vh;
}

.head--cs{
    color: white;
    width: 100%;
    display: block;
    background: #08080800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head--cs .menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 150%;
    text-decoration: none;
    align-content: center;
    margin-right: 5%;
}
.head--cs .menu a{
    text-decoration: none;
    margin: 0 15px;
    padding: 0 15px;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 35px;
    color: #fff;
    text-align: center;
    display: inline;
    transition: background-color 0.7s linear;
}

.head--cs .menu a:hover{
    background-color: white;
    color: #000000;
}


.logo img{
    width: 70%;
    padding-top: 3%;
}

.logo{
    margin-left: 7%;
}


.sec1--main {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -2;
}

.sec1 p{
    font-weight: 300;
    font-size: 200%;
    width: 30%;
}

.sec1 .btns--div{
    
    margin-left: 5%;
}

.btn1{
    color: #000000;
    background-color: #ffffff;
    width: 18rem;
    height: 5rem;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    border:none;
    border-radius: 18px;
    transition: background-color 0.5s linear;
}

.btn1:hover{
    background-color: #000000;
    color: white;
}

.sec2{
    display: flex;
    align-items:center;
    justify-content: center;
}
.sec2 img {
    width: 40%;
    height: auto;
    margin-left: 13%;
    margin-right: 5%;
}

.sec2 p{
    text-align: left;
    margin-right: 13%;
    font-size: 1.4rem;
    margin-left: 5%;
    color: #fff;
}

.sec3 .box1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    /* margin-top: 8em; */
}

.sec3 .box1 .planet{
    border-radius: 50%;

    height: 12em;
    width: 12em;
    margin:1em 3em
}

.sec3 .box2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    margin-top: 8em;
}
.sec3 .box2 .planet{
    border-radius: 50%;
    height: 12em;
    width: 12em;
    margin:1em 3em
}
.planetSaturn{
    height: 14em;
    width: 28em;
}
.planetSun{
    height: 13em;
    width: 13em;
    margin:1em 3em
}